* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.navigation {
  display: flex;
  margin: 50px 180px;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 50px;
  list-style: none;
}
nav ul li a {
  color: #474747;
  font-weight: 400;
  font-size: 20px;
}
.primary-color {
  color: #fd6e0a;
}
nav h2 {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
}
a {
  text-decoration: none;
}
.btn-primary {
  background: #fd6e0a;
  border-radius: 5px;
  height: 64px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
}

/* banner section */

.banner-section {
  display: flex;
  align-items: center;
  margin: 0 160px;
}
.banner-section .gretting {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.name {
  margin: 5px 0 20px 0;
  font-weight: 700;
  font-size: 85px;
  color: #181818;
}
.banner-section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.header {
  background: #fff;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* main section */

main {
  max-width: 1140px;
  margin: 0 auto;
}
/* About section  */

.about-section {
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.sectin-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
 
  color: #757575;
  margin-bottom: 30px;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
  
  margin-bottom: 30px;
}



.about-info-container{
  display: flex;
  justify-content: space-around;
}
.info-title{
  font-size: 20px;
  color: #757575;
}
.info-description{
  font-weight: 700;
  font-size: 20px;
  color: #474747;
  justify-content: space-around;
}
