* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.navigation {
  display: flex;
  margin: 50px 180px;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 50px;
  list-style: none;
}
nav ul li a {
  color: #474747;
  font-weight: 400;
  font-size: 20px;
}
.primary-color {
  color: #fd6e0a;
}
nav h2 {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
}
a {
  text-decoration: none;
}
.btn-primary {
  background: #fd6e0a;
  border-radius: 5px;
  height: 64px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
}

/* banner section */

.banner-section {
  display: flex;
  align-items: center;
  margin: 0 160px;
}
.banner-section .gretting {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.name {
  margin: 5px 0 20px 0;
  font-weight: 700;
  font-size: 85px;
  color: #181818;
}
.banner-section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.header {
  background: #fff;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* main section */

main {
  max-width: 1140px;
  margin: 0 auto;
}
/* About section  */

.about-section {
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.sectin-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: #757575;
  margin-bottom: 30px;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
  justify-content: space-around;
}

/* what i do style */

.what-i-do-container {
  margin-top: 130px;
}
.section-title {
  text-align: center;
}
.what-i-do-container .sectin-description {
  border-radius: 10px;
  padding: 0px 150px;
  text-align: center;
}

.skills-container {
  display: flex;
  gap: 24px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

/* resume style */

.resume-section{
  margin-top: 130px;
  margin-bottom: 50px;

}
.resume-content{
  display: flex;
  gap: 24px;
}
.resume-item{
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-item .title{
  color: #474747;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.resume-item .sub-title{
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-item .description{
  color: #757575;
}
.resume-btn{
  margin-top: 50px;
  text-align: center;
}

/* contact section */

.contact-section .section-title{
  text-align: left;
}
.contact-section{
  display: flex;
  gap: 100px;
  background: #FFF8F3;
  padding: 130px 200px;
}
.contact-section input[type="email"], input[type="text"], textarea{
  margin-bottom: 24px;
  border: none;
  width: 100%;
  padding: 18px 30px;
}
.input{
  height: 60px;
}
.contact-section a {
  text-decoration: none;
}